body {
    font-family: 'Arial', sans-serif;
}

.navbar-brand {
    font-weight: bold;
    color:blueviolet;
    margin-left: 40px;
}

.hero {
    background-color: #f8f9fa;
    padding: 100px 0;
}

.head {
    color:rgba(0, 0, 255, 0.826);
    font-weight: bold;
    margin-top: -280px;
    margin-left:50px;
}

.hero p {
    color: #6c757d;
    margin-bottom: 30px;
    margin-left:50px;
}

.features h2 {
    color: #333;
    font-weight: bold;
}

.features img {
    border-radius: 10px;
}

.nav-link{
    color:blueviolet;
    margin-bottom: 40px;
}
#navbarNav{
    margin-top: 40px;
}
.img-fluid{
    margin-top: -150px;
    height: 600px;
    margin-left: 50p;
}